svg {
    background-color: #DDD;
    cursor: default;
}

svg:not(.active):not(.ctrl) {
    cursor: crosshair;
}

path.edge {
    fill: none;
    stroke: #000;
    stroke-width: 4px;
    cursor: default;
}

svg:not(.active):not(.ctrl) path.edge {
    cursor: pointer;
}

path.edge.selected {
    stroke-dasharray: 10,2;
}

path.edge.dragline {
    pointer-events: none;
}

path.edge.hidden {
    stroke-width: 0;
}

circle.node {
    stroke-width: 1.5px;
    cursor: pointer;
}

text {
    font: 14px sans-serif;
    pointer-events: none;
}

text.id {
    text-anchor: middle;
    font-weight: bold;
}